@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

ul {
  list-style-type: none;
}

header {
  margin: 22px 20px 0;
  display: flex;
  justify-content: space-between;
}

header .welcome {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

header .menu-button {
  background: none;
  border: none;
}

.hero-section {
  margin-top: 16px;
  color: #172b4d;
  text-align: center;
  background-image: url("images/backround-images/mobile-backrounds/header-background-mobile.svg");
  background-repeat: no-repeat;
}

.hero-section h1,
.hero-section h2 {
  padding: 55px 10px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hero-section h2 {
  padding: 0 10px 10px;
  color: #36b37e;
}

.hero-secondary {
  margin: 36px 16px 58px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.socials ul {
  padding-left: 18px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  margin-right: 18px;
}

.hero-section .scroll-button {
  background: none;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  margin: 42px 0 0;
  padding-top: 6px;
}

.projects-header {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projects-header .header-text {
  margin: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.projects-header .indicator-icon {
  margin-bottom: 36px;
}

.project-list {
  display: grid;
  grid-template: auto / 100%;
}

.project {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.project img {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.project h2 {
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin: 16px 0;
}

.project .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  padding: 0;
}

.project .tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 11px;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 0 8px;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 14px 10px 24px;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
}

.see-project {
  width: 122px;
  height: 48px;
  align-self: center;
}

.see-project-button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgb(54 179 127 / 24%);
}

.see-project-button:active {
  background: #008552;
}
