@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

ul {
  list-style-type: none;
}

header {
  margin: 22px 20px 0;
  display: flex;
  justify-content: space-between;
}

header .welcome {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

header .menu-button {
  background: none;
  border: none;
}

.hero-section {
  margin-top: 16px;
  color: #172b4d;
  text-align: center;
  background-image: url("images/backround-images/mobile-backrounds/header-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero-section h1,
.hero-section h2 {
  padding: 55px 10px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hero-section h2 {
  padding: 0 10px 10px;
  color: #36b37e;
}

.hero-secondary {
  margin: 36px 16px 58px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.socials ul {
  padding-left: 18px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  margin-right: 18px;
}

.hero-section .scroll-button {
  background: none;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  margin: 42px 0 0;
  padding-top: 6px;
}

.projects-header {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projects-header .header-text {
  margin: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.projects-header .indicator-icon {
  margin-bottom: 36px;
}

.projects {
  display: grid;
  grid-template: auto / 100%;
  justify-content: center;
}

.project {
  justify-self: center;
  margin: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  max-width: 327px;
  justify-content: center;
}

.project img {
  border-radius: 8px;
}

.project h2 {
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin: 16px 0;
  width: 295px;
  padding-left: 16px;
}

.project .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  padding: 0;
}

.project .tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 11px;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 0 8px;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 14px 10px 24px;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
}

.see-project {
  width: 122px;
  height: 48px;
  align-self: center;
}

.button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgb(54 179 127 / 24%);
}

.button:active {
  background: #008552;
}

#about-me .about-me-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  background:
    url("images/backround-images/mobile-backrounds/about-me-background1-mobile.svg"),
    url("images/backround-images/mobile-backrounds/about-me-background2-mobile.svg");
  background-position: 0 100%, 100% -40px;
  background-repeat: no-repeat, no-repeat;
}

#about-me h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 24px 0;
}

#about-me .about-me-para {
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 10px;
  padding: 0 8px;
  color: #42526e;
}

#about-me .get-resume {
  width: 159px;
  height: 48px;
  align-self: center;
  margin-bottom: 0;
}

#about-me .technologies {
  margin: 58px 0 36px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me .technology {
  margin: 0 0 24px;
  padding-top: 30px;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  width: 327px;
  height: 380px;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
}

#about-me .technology img {
  width: 327px;
  height: 128px;
}

#about-me .technology h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 24px 0;
  color: #344563;
  text-align: center;
}

#about-me .technology .tags {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 333px;
}

#about-me .technology .tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  margin: 8px 8px 0 0;
  align-self: center;
}

#get-in-contact {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url("images/backround-images/mobile-backrounds/contact-form-backround-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 76%;
  background-size: 15% auto;
}

#get-in-contact .primary-text {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 0 0 58px;
  text-align: center;
  color: #172b4d;
}

#get-in-contact form {
  width: 327px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

#get-in-contact form input {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 24px;
  width: 327px;
  height: 48px;
  padding: 15px 16px;
}

#get-in-contact form input::placeholder {
  font-size: 15px;
  color: #6b778c;
}

#get-in-contact form textarea {
  width: 327px;
  height: 114px;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 10px;
}

#get-in-contact form textarea::placeholder {
  font-size: 15px;
  color: #091e42;
}

#get-in-contact form button {
  width: 129px;
  align-self: center;
}

#get-in-contact nav {
  margin: 6px 0 8px;
  padding-left: 16px;
}

#get-in-contact .my-email {
  width: auto;
  height: 189px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

@media only screen and (min-width: 1080px) {
  .header-mobile {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 1100px;
    background-image: url("images/backround-images/desktop-backgrounds/header-background-desktop.svg");
    background-size: 100% auto;
  }

  .hero-section h1,
  .hero-section h2,
  .hero-secondary {
    width: 770px;
  }

  .hero-section h1,
  .hero-section h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .hero-section h1 {
    margin-top: -250px;
    padding-top: 0;
  }

  .hero-secondary {
    margin-bottom: 24px;
    line-height: 32px;
  }

  .projects-header .indicator-icon {
    display: none;
  }

  .projects {
    grid-template: 50% 50% / 1fr 1fr 1fr;
    padding: 0 106px 0 117px;
  }

  .project {
    width: auto;
    height: 500px;
    margin: 12px;
    max-width: 369px;
  }

  #about-me .about-me-top {
    padding-top: 152px;
    align-self: center;
    background:
      url("images/backround-images/desktop-backgrounds/about-me-background1-desktop.svg"),
      url("images/backround-images/desktop-backgrounds/about-me-background2-desktop.svg");
    background-position: 0 90%, 100% 35%;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% auto, 13% auto;
  }

  .about-me-para {
    width: 770px;
    align-self: center;
  }

  #about-me .technologies {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  #get-in-contact {
    flex-flow: row wrap;
    padding: 0 111px;
    margin-top: 118px;
    justify-content: center;
    background-image:
      url("images/backround-images/desktop-backgrounds/contact-form-background1-desktop.svg"),
      url("images/backround-images/desktop-backgrounds/contact-form-background2-desktop.svg"),
      url("images/backround-images/desktop-backgrounds/contact-form-background3-desktop.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 80%, 20% 75%, 100% 45%;
    background-size: 14% auto, 11% auto, 15% auto;
  }

  #get-in-contact .primary-text {
    font-size: 30px;
    max-width: 463px;
    margin: 24px;
  }

  #get-in-contact form {
    width: 684px;
  }

  #get-in-contact form input,
  #get-in-contact form textarea {
    width: 684px;
  }

  #get-in-contact form button {
    align-self: baseline;
    margin-left: 0;
  }

  #get-in-contact .my-email {
    display: none;
  }

  #get-in-contact hr {
    margin-top: 200px;
    border: 1px solid #dfe1e6;
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .header-desktop {
    display: none;
  }

  hr {
    display: none;
  }
}

.header-desktop {
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}

.header-desktop ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-desktop li {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
}

.header-desktop a {
  text-decoration: none;
  color: #344563;
}

.header-desktop a:visited {
  color: #344563;
}
